html {
  scroll-behavior: smooth;
}

.enlace-foco:focus {
  outline: 4px solid red;
  outline-offset: 8px;
}

.caja {
  width: 200px;
  height: 200px;
  margin: 20px 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.caja-crosshair {
  cursor: crosshair;
}

.caja-progress {
  cursor: progress;
}
